.filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .filter {
    margin-right: 10px;
  }
  
  label {
    margin-right: 5px;
  }
  
  select {
    padding: 5px;
  }
  